<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>medecins</title>
</head>
<body>
    <!-- Titre -->
    <h2>
        Les medecins
    </h2>

    <!-- Barre de Navigations -->
    <nav class="navbar navbar-inverse" [hidden]="estCacheMenu">
        <ul class="nav navbar-nav" style=" flex-direction: row;
            justify-content:left">
            <li><a (click)="derniersRapports()">Derniers Rapports</a></li> <!-- Affiche le dernier rapports -->
            <li><a (click)="majMedecin()">MAJ</a></li>
        </ul>
    </nav>

<!-- Barre de Recherche Nom du medecins -->
    <div class="col-lg-6">
        <div class="form-group">
            <input type="search" placeholder="Nom du médecin..."
            [(ngModel)]="nomMedecin" (keyup)="charger()" /> <!--Le ngmodel permet de recuperer dans la base de données -->
        </div>
    </div>

<!-- A laisser de coté -->
    <!--<div class="col-lg-6">
        <div class="form-group">
            <input type="search" placeholder="id Medecins"
            [(ngModel)]="idMedecin" (keyup)="chargerR()" />
        </div>
    </div> -->

    
    <!--affichage des médecins nom prenom et departement -->
    <div class="list-group">
        <ul>
            <li class="list-group-item" *ngFor="let medecin of lesMedecins"
            (click)="selectionner(medecin)">
            {{medecin.nom}} {{medecin.prenom}} dep: {{medecin.departement}}
            </li>
        </ul>
    </div>

 
 
<!--affichage des rapports-->
<table class="table table-bordered" *ngIf="afficherRapports">
    <tr>
        <td>{{rapport.date }} </td>
        <td>{{rapport.motif }} </td>
        <td>{{rapport.bilan }} </td>
        <td>{{rapport.nom }} </td>
    </tr>
    <tr *ngFor="let rapport of lesRapports">

        <td>{{rapport.date }} </td>
        <td>{{rapport.motif }} </td>
        <td>{{rapport.bilan }} </td>
        <td>{{rapport.nom }} </td>
    </tr>
</table>


</body>
</html>