<p>visites works!</p>

<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>-->
    <!--affichage des rapports-->
    <!--<table class="table table-bordered" *ngIf="afficherRapports">
        <tr>
            <th>Date</th>
            <th>motif</th>
            <th>Bilan</th>
            <th>Nom du visiteur</th>
        </tr>
        <tr *ngFor="let rapport of lesRapports">
            <td>{{rapport.date }} </td>
            <td>{{rapport.motif }} </td>
            <td>{{rapport.bilan }} </td>
            <td>{{rapport.nom }} </td>
        </tr>
    </table>
</body>
</html>-->