<p>visites works!</p>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<div class="col-lg-6">
    <div class="form-group">
        <input type="search" placeholder="Nom du rapport..."
        [(ngModel)]="idMedecin" (keyup)="chargerRapports()" />
    </div>
</div>






<!--affichage des rapports -->
<div class="list-group">
    <ul>
        <li class="list-group-item" *ngFor="let rapport of lesRapports"
        (click)="selectionner(rapport)">
        {{rapport.date}} {{rapport.motif}} {{rapport.bilan}} {{rapport.idMedecin}}
        </li>
    </ul>
</div>

<body>
    <!--affichge des rapports-->
    <h2>affichage des rapports</h2>
    <table class="table table-bordered" *ngIf="afficherRapports">
        <tr>
            <th>Date</th>
            <th>motif</th>
            <th>Bilan</th>
            <th>Nom du visiteur</th>
        </tr>
        <tr *ngFor="let rapport of lesRapports">
            <td>{{rapport.date }} </td>
            <td>{{rapport.motif }} </td>
            <td>{{rapport.bilan }} </td>
            <td>{{rapport.nom }} </td>
        </tr>
    </table>
</body>

</html>
