h1{
    color: rgb(0, 225, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    margin: 10px;
    text-align: center;

}

h2{
    margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  
}

h3{
    color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.all{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.82);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    box-shadow:
    0 0 8px rgb(0, 247, 255),
    inset 0 0 8px rgb(0, 173, 216),
    0 0 16px #0093ad,
    inset 0 0 16px #00c0b6,
    0 0 32px #05004e,
    inset 0 0 32px #00746e7e; 
    
    
    
}

.groupe{
    color: #fff;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.group{
    
   
    color: #fff;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.alert{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #00c030;
}

.button{
    
    display: inline-block;
    outline: none;
    cursor: pointer;
    padding: 0 16px;
    background-color: #0070d2;
    border-radius: 0.25rem;
    border: 1px solid #0070d2;
    color: #fff;
    font-size: 13px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    :hover {
        background-color: #005fb2;  
        border-color: #005fb2;
    } 

}